@use 'variables' as *;

.offer {
  background-color: $color-black;
  padding: 80px 0;
  position: relative; 
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-image:
      linear-gradient(rgba($color-black, 0.6), rgba($color-black, 0.6)),
      url('../assets/images/man-woman.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    pointer-events: none;
    z-index: 0;
    opacity: 0.4;
    filter: grayscale(1);
    mask-image:
      linear-gradient(to right, transparent 0%, black 35%, black 55%, transparent 100%),
      linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    mask-composite: intersect;
    -webkit-mask-image:
      linear-gradient(to right, transparent 0%, black 35%, black 55%, transparent 100%),
      linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    -webkit-mask-composite: source-in;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background-image:
        linear-gradient(rgba($color-white, 0.04) 1px, transparent 1px),
        linear-gradient(90deg, rgba($color-white, 0.04) 1px, transparent 1px);
    background-size: 25px 30px;
    background-repeat: repeat;
    mask-image:
        linear-gradient(to right, black 20%, transparent 50%),
        linear-gradient(to bottom, black 90%, transparent 90%);
    mask-composite: intersect;
    -webkit-mask-image:
        linear-gradient(to right, black 20%, transparent 50%),
        linear-gradient(to bottom, black 80%, transparent 90%);
    -webkit-mask-composite: source-in;
  }

  &__container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 40px;
    
    @media (max-width: 991px) {
      flex-direction: column-reverse; 
      text-align: center;
    }
  }

  &__content {
    flex: 1;
    position: relative;
    z-index: 1;
  }

  &__headline {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 16px;
    color: $color-white; 
    
  }

  &__benefits {
    list-style: none;
    padding: 0;
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: $color-white;
        text-align: center;


        img {
            width: 16px;
            height: 16px;
        }
    }
  }

  &__product {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: -35%;
        background-image: url('../assets/images/hollow-ray.png');
        background-repeat: no-repeat;
        background-position: 20% 70%;
        background-size: contain;
        filter: grayscale(1);
        opacity: 0.2;
        pointer-events: none;
        z-index: 0;
        transform: translateY(5%);
    }
  }

  &__product-img {
    width: 160%;
    height: 160%;
    max-height: none;
    object-fit: contain;
    position: relative;
    z-index: 1;
    margin-top: -23%;
  }
}


