@use 'variables' as *;

$bg-image-path: '../assets/images/man.png';
$overlay-color-dark: rgba(10, 5, 0, 0.72); 

.hero {
    background-color: $color-black;

    &__container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 992px) {
            flex-direction: row; 
            justify-content: center;
        }
    }

    &__content {
        isolation: isolate;
         &::before {
            content: '';
            position: absolute;
            inset: 0;
             z-index: -1; 
            background-image:
                linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
                linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
            background-size: 25px 30px;
            background-repeat: repeat;
            width: 35%;
            height: 80%;

            mask-image: linear-gradient(to right, black 70%, transparent 100%),
                    linear-gradient(to bottom, black 70%, transparent 100%);
            mask-composite: intersect;
            -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%),
                                linear-gradient(to bottom, black 70%, transparent 100%);
            -webkit-mask-composite: source-in;
            
            
            pointer-events: none;
        }
        &::after {
            content: '';
            position: absolute;
            top: -10%;
            left: -10%;
            width: 60%;
            height: 80%;
            z-index: -1;
            pointer-events: none;
            background: radial-gradient(
                ellipse at top left,
                rgba(230, 38, 16, 0.3)  0%,   
                rgba(26, 13, 12, 0.3)   40%,
                transparent              70%
            );
            border-radius: 50%; // ← garante forma elíptica
            filter: blur(40px);
        }

        color: $color-white;

        @media (min-width: 992px) {
            width: 50%;
            padding-inline: 10%;
        }
    }

    &__visual {
        position: relative;
        background-image: url($bg-image-path);
        background-size: 300%;
        background-position: 25% top;
        align-content: center;
        width: 100%;
        max-width: 500px;

        aspect-ratio: 1 / 1;
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;
    
            background:
            linear-gradient(
                45deg,
                rgba(11, 11, 11, 0.9)  0%,
                rgba(26, 13, 12, 0.7)  50%,
                rgba(170, 35, 21, 0.5) 100%
            );
        }
        
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 2;
            background:
            linear-gradient(
                100deg,
                rgba(11, 11, 11, 0.9)  10%,
                rgba(180, 30, 10, 0.30) 50%,
                rgba(200, 20,  0, 0.65) 100%
            );
        }

        @media (min-width: 992px) {
            width: 50%;
            background-position: 35% top;
        }
    }

    
    &__leaf-blur {
        height: 117px;
        filter: blur(2px);
    }

    &__features{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        list-style: none;
        @media (max-width: 768px) {
            grid-template-columns: 1fr; 
        }

    }

    &__feature-item {
        font-size: 18px;
        padding-block: 10px;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__title--highlight-orange {
        background: linear-gradient(to right, #ff4141, #f5af19);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
        font-weight: bold;
    }

    &__lightning {
        position: absolute;
        top: 0;
        width: 60%;
        height: 55%;
        z-index: 3;   
        pointer-events: none;
        @media (max-width: 768px) {
            width: 85%;
        }
    }


    &__product {
        position: relative;
        z-index: 4;
        width: 100%;
        left: -13.5%;
        max-width: 400px;
        margin-top: 20px;
    }

    
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 10px 70px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &--primary {
        background-color: $color-yellow;
        color: #000;
        box-shadow: 0 4px 15px rgba($color-yellow, 0.4);
        
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 20px rgba($color-yellow, 0.6);
        }
    }
}
